---
name: todo_item
resource: todo
resource_owner: anyone
redirect_to: >
  /lists/{{ context.params.slug2 }}
fields:
  properties:
    content:
      validation:
        presence: true
        length:
          minimum: 5
    list_id:
        presence: true
flash_notice: Todo item added
---

<h2>Add todo</h2>

{% form %}
  <input type="hidden" id="list_id" name="{{ form.fields.properties.list_id.name }}" value={{ list_id }} />
  <div class="row">
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="name">Content:</label>
      <input name="{{ form.fields.properties.content.name }}" value="{{ form.fields.properties.content.value }}" id="name" type="text" class="form-control">
      {% if form.errors['properties.content'] %}
        <p>{{ form.errors['properties.content'] }}</p>
      {% endif %}
    </div>
  </div>
  <button class="btn btn-primary btn-lg">Add</button>
{% endform %}
